<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant, # name: @restaurant.name # an example of another way an instance variable could be assigned, which I could then use in the form - or something like that %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
